#browse-music {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #202020;
  font-size: 1rem;
  /* TODO: Should change body font-size instead*/
  --loading-percent: 0;
}

#browse-music .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

#browse-music .contents .header {
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#browse-music .contents .header .actions {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#browse-music .contents .header .actions button {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0px;
  color: #ccc;
  width: 2em;
  height: 2em;
  font-size: 1em;
  transition: 0.2s;
  position: relative;
  font-size: 1.3em;
  margin: 0px 0.3em 0px 0px;
  z-index: 100;
}

#browse-music .contents .header .actions button:last-of-type {
  margin-right: 0px;
}

#browse-music .contents .header .actions button.clear:hover {
  color: #aa4a44;
}

#browse-music .contents .header .actions button.close {
  color: #606060;
  margin-left: auto;
}

#browse-music .contents .header .actions button.close:hover {
  color: #ccc;
}

#browse-music .contents .header .actions button.active {
  color: #24a4f3;
}

#browse-music .contents .header .actions button.list-view-toggle[data-current="list"] i:before {
  content: '\f009';
}

#browse-music .contents .header .actions button.list-view-toggle[data-current="grid"] i:before {
  content: '\f03a';
}

#browse-music .contents .info-header {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5em;
  --albumart-height: 8em;
}

#browse-music .contents .info-header .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#browse-music .contents .info-header .bg img {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(30px) brightness(0.5);
          filter: blur(30px) brightness(0.5);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#browse-music .contents .info-header .main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1.5em auto;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  #browse-music .contents .info-header .main {
    max-width: 80%;
  }
}

#browse-music .contents .info-header .main .albumart {
  position: relative;
}

#browse-music .contents .info-header .main .albumart img {
  display: block;
  width: var(--albumart-height);
  height: 8em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5em;
  -webkit-filter: drop-shadow(0 0 8px #00000080);
          filter: drop-shadow(0 0 8px #00000080);
}

#browse-music .contents .info-header .main .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ccc;
  margin-left: 1em;
  min-height: var(--albumart-height);
}

#browse-music .contents .info-header .main .info .title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.3em;
}

#browse-music .contents .info-header .main .info .artist,
#browse-music .contents .info-header .main .info .media-info {
  margin-bottom: 0.3em;
}

#browse-music .contents .info-header .main .info .media-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.3em;
  font-size: 0.9em;
}

#browse-music .contents .info-header .main .info .media-info i.dot {
  font-size: 0.3em;
  margin: 0 1.5em;
}

#browse-music .contents .navigation {
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#browse-music .contents .navigation .info {
  width: 100%;
}

#browse-music .contents .navigation section {
  width: 100%;
  margin: 0 auto;
}

#browse-music .contents .navigation section:last-of-type {
  margin-bottom: 1em;
}

@media (min-width: 1024px) {
  #browse-music .contents .navigation section {
    max-width: 80%;
  }
}

#browse-music .contents .navigation section > .title {
  color: #ccc;
  font-size: 1.2em;
  font-family: "Noto Sans Display";
}

#browse-music .contents .navigation section.no-title > .title {
  display: none;
}

#browse-music .contents .navigation section.list {
  margin-top: 1em;
}

#browse-music .contents .navigation section.list > .title {
  padding: 1em 0.7em 1.2em 0.7em;
}

#browse-music .contents .navigation section.list .items {
  --albumart-width: 2em;
  --albumart-height: 2em;
  --title-width: calc(100% - var(--album-width) - var(--artist-width));
  --album-width: 25%;
  --artist-width: 25%;
  --duration-width: 4em;
  --ellipsis-width: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#browse-music .contents .navigation section.list .items.no-album .album {
  --album-width: 0;
  display: none;
}

#browse-music .contents .navigation section.list .items.no-artist .artist {
  --artist-width: 0;
  display: none;
}

#browse-music .contents .navigation section.list .items.no-duration .duration {
  display: none;
}

#browse-music .contents .navigation section.list .items.no-ellipsis .ellipsis {
  display: none;
}

#browse-music .contents .navigation section.list .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7em 1em;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ccc;
  background: #282828;
}

#browse-music .contents .navigation section.list .items .item:not(:last-of-type) {
  border-bottom: 1px solid #454545;
}

@media (min-width: 1024px) {
  #browse-music .contents .navigation section.list .items .item:first-of-type {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  #browse-music .contents .navigation section.list .items .item:last-of-type {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
}

#browse-music .contents .navigation section.list .items .item .text {
  padding-left: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#browse-music .contents .navigation section.list .items .item .albumart {
  width: var(--albumart-width);
  height: var(--albumart-height);
}

#browse-music .contents .navigation section.list .items .item .albumart img {
  display: block;
  width: var(--albumart-width);
  height: var(--albumart-height);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.2em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#browse-music .contents .navigation section.list .items .item .albumart .icon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#browse-music .contents .navigation section.list .items .item .title-album-artist {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}

#browse-music .contents .navigation section.list .items .item .title-album-artist .title {
  -ms-flex-preferred-size: var(--title-width);
      flex-basis: var(--title-width);
}

#browse-music .contents .navigation section.list .items .item .title-album-artist .album {
  -ms-flex-preferred-size: var(--album-width);
      flex-basis: var(--album-width);
}

#browse-music .contents .navigation section.list .items .item .title-album-artist .artist {
  -ms-flex-preferred-size: var(--artist-width);
      flex-basis: var(--artist-width);
}

#browse-music .contents .navigation section.list .items .item .duration {
  min-width: var(--duration-width);
}

#browse-music .contents .navigation section.list .items .item .ellipsis {
  width: var(--ellipsis-width);
}

#browse-music .contents .navigation section.list .items .item .album,
#browse-music .contents .navigation section.list .items .item .artist,
#browse-music .contents .navigation section.list .items .item .duration {
  font-family: "Noto Sans Display", sans-serif;
}

#browse-music .contents .navigation section.list .items .item .album,
#browse-music .contents .navigation section.list .items .item .artist {
  color: #7a848e;
}

#browse-music .contents .navigation section.list .items .item:hover {
  background: #303030;
}

#browse-music .contents .navigation section.list .items .item:hover .albumart img {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

@media (max-width: 599px) {
  #browse-music .contents .navigation section.list .items {
    --title-width: 100%;
    --album-width: unset;
    --artist-width: unset;
  }
  #browse-music .contents .navigation section.list .items .title-album-artist {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #browse-music .contents .navigation section.list .items .item:not(.no-album):not(.no-artist) .artist {
    padding-left: 0px;
  }
  #browse-music .contents .navigation section.list .items .item:not(.no-album):not(.no-artist) .artist:before {
    content: "-";
    padding: 0px 0.5em;
  }
}

#browse-music .contents .navigation section.grid {
  padding-bottom: 1em;
}

#browse-music .contents .navigation section.grid > .title {
  padding: 1.2em 1em 0.8em 1em;
}

#browse-music .contents .navigation section.grid.no-title {
  padding: 1em 0em;
}

#browse-music .contents .navigation section.grid .items {
  --grid-columns: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-gap: 1em;
  margin: 1em;
}

#browse-music .contents .navigation section.grid .items .item {
  width: 100%;
  min-width: 0;
  display: block;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #ccc;
  text-align: center;
}

#browse-music .contents .navigation section.grid .items .item .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#browse-music .contents .navigation section.grid .items .item > :not(:first-child) {
  padding: 0.5em 0px;
}

#browse-music .contents .navigation section.grid .items .item .albumart {
  width: 100%;
  background: #2e2e2e;
  border-radius: 0.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  position: relative;
}

#browse-music .contents .navigation section.grid .items .item .albumart:before {
  /* 1:1 */
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}

#browse-music .contents .navigation section.grid .items .item .albumart img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#browse-music .contents .navigation section.grid .items .item .albumart .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
}

#browse-music .contents .navigation section.grid .items .item .album,
#browse-music .contents .navigation section.grid .items .item .duration,
#browse-music .contents .navigation section.grid .items .item .ellipsis {
  display: none;
}

#browse-music .contents .navigation section.grid .items .item .ellipsis {
  width: var(--ellipsis-width);
}

#browse-music .contents .navigation section.grid .items .item .artist {
  font-family: "Noto Sans Display", sans-serif;
  color: #7a848e;
  font-size: 0.9em;
}

#browse-music .contents .navigation section.grid .items .item:hover .albumart {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

@media (max-width: 240px) {
  #browse-music .contents .navigation section.grid .items {
    --grid-columns: 2;
  }
}

@media (min-width: 480px) {
  #browse-music .contents .navigation section.grid .items {
    --grid-columns: 3;
  }
}

@media (min-width: 640px) {
  #browse-music .contents .navigation section.grid .items {
    --grid-columns: 4;
  }
}

@media (min-width: 900px) {
  #browse-music .contents .navigation section.grid .items {
    --grid-columns: 5;
  }
}

@media (min-width: 1920px) {
  #browse-music .contents .navigation section.grid .items {
    --grid-columns: 6;
  }
}

#browse-music.loading .contents .header:before {
  content: "";
  width: var(--loading-percent);
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  background: #24a4f3;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
/*# sourceMappingURL=browse-music.css.map */