/* Background */
#screen-wrapper > .bg {
  --default-background-size: cover;
  --default-background-position: center;
  --default-background-blur: 50px;
  --default-background-scale: 1.5;
  --default-background-image: none;
  --default-background-color: #000;
  --default-background-overlay-color: #000;
  --default-background-overlay-opacity: 0.5;
  --default-background-overlay-display: inherit;
  --background-size: var(--default-background-size);
  --background-position: var(--default-background-position);
  --background-blur: var(--default-background-blur);
  --background-scale: var(--default-background-scale);
  --background-image: var(--default-background-image);
  --background-color: var(--default-background-color);
  --background-overlay-color: var(--default-background-overlay-color);
  --background-overlay-opacity: var(--default-background-overlay-opacity);
  --background-overlay-display: var(--default-background-overlay-display);
  width: 100%;
  height: 100%;
  background-image: var(--background-image);
  background-color: var(--background-color);
  -webkit-filter: blur(var(--background-blur));
          filter: blur(var(--background-blur));
  -webkit-transform: scale(var(--background-scale));
          transform: scale(var(--background-scale));
  background-size: var(--background-size);
  background-position: var(--background-position);
  -webkit-transition: background-image 1s ease-in-out, -webkit-filter 0.2s ease-in;
  transition: background-image 1s ease-in-out, -webkit-filter 0.2s ease-in;
  transition: background-image 1s ease-in-out, filter 0.2s ease-in;
  transition: background-image 1s ease-in-out, filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
}

#screen-wrapper > .bg:before {
  content: "";
  display: var(--background-overlay-display);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-overlay-color);
  opacity: var(--background-overlay-opacity);
}

/* Action Panel */
#top-bar {
  width: 100%;
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #ccc;
  opacity: 0.5;
  z-index: 10;
}

#top-bar .expand:hover {
  color: #24a4f3;
  cursor: pointer;
}

/* Wraps around #action-panel (created by jquery UI's Dialog) */
.action-panel-container {
  -webkit-filter: drop-shadow(0 0 8px #00000080);
          filter: drop-shadow(0 0 8px #00000080);
  margin-top: 2em;
  pointer-events: none;
  max-width: 40em;
}

.action-panel-container .ui-dialog-titlebar {
  display: none;
}

.action-panel-container.ui-widget-content,
.action-panel-container .ui-dialog-content {
  background: none;
  color: #ccc;
  border: none !important;
  padding: 0px;
}

#action-panel {
  min-height: 0px !important;
}

#action-panel .volume {
  background: #202020;
  border-radius: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  pointer-events: auto;
}

#action-panel .volume.disabled:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#action-panel .volume .mute {
  font-size: 1.3em;
  line-height: 1.5em;
  cursor: pointer;
  margin-right: 10px;
}

#action-panel .volume .mute.active {
  color: #24a4f3;
}

#action-panel .volume .max {
  font-size: 1.3em;
  line-height: 1.5em;
  cursor: pointer;
  margin-left: 10px;
}

#action-panel .volume .volume-slider-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
}

#action-panel .volume .volume-slider-wrapper .volume-slider.ui-widget-content {
  background: #ccc;
}

#action-panel .volume .volume-slider-wrapper .volume-slider.ui-slider-horizontal {
  height: 1.5em !important;
  border: none;
}

#action-panel .volume .volume-slider-wrapper .volume-slider .ui-slider-range {
  background: #24a4f3;
  border-radius: 0px;
}

#action-panel .volume .volume-slider-wrapper .volume-slider .ui-slider-handle {
  visibility: hidden;
}

#action-panel .volume .volume-slider-wrapper .volume-slider.muted .ui-slider-range {
  background: #aaa;
}

#action-panel .volume.disabled .volume-slider-wrapper:after {
  content: "\f05e";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  line-height: 1.5em;
  color: #fff;
}

#action-panel .actions-wrapper {
  --switch-count: 3;
  --switch-width: 3em;
  --switch-height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.2em 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#action-panel .actions-wrapper .screen-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: auto;
  /*flex-grow: 1;*/
  min-width: 0;
}

#action-panel .actions-wrapper .screen-switcher .label-wrapper {
  background: #303030;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  padding: 0.5em 0px 0.5em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#action-panel .actions-wrapper .screen-switcher .label-wrapper .label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: var(--switch-width);
  height: var(--switch-height);
  font-size: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #ccc;
}

#action-panel .actions-wrapper .screen-switcher .switches-wrapper {
  background: #202020;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  padding: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (var(--switch-width))[auto-fill];
      grid-template-columns: repeat(auto-fill, var(--switch-width));
  grid-row-gap: 0.5em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /*        box-sizing: border-box;*/
  width: calc(var(--switch-count) * var(--switch-width));
}

#action-panel .actions-wrapper .screen-switcher .switches-wrapper .switch {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: var(--switch-width);
  height: var(--switch-height);
  font-size: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  cursor: pointer;
}

#action-panel .actions-wrapper .screen-switcher .switches-wrapper .switch:hover {
  color: #24a4f3;
}

#action-panel .actions-wrapper .screen-switcher .switches-wrapper .switch.active:before {
  content: "";
  position: absolute;
  top: -0.1em;
  width: 0.3em;
  height: 0.3em;
  background: #24a4f3;
  border-radius: 50%;
}

#action-panel .actions-wrapper .spacer {
  width: 1.5em;
}

#action-panel .actions-wrapper .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #a9a9a9;
  cursor: pointer;
  text-decoration: none;
  padding: 0.8em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  line-height: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  background: #202020;
  opacity: 0.8;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  pointer-events: auto;
}

#action-panel .actions-wrapper .action.switch img {
  width: 1.3em;
  height: 1.3em;
}

#action-panel .actions-wrapper .action:not(:first-of-type) {
  margin-left: 1em;
}

#action-panel .actions-wrapper .action:hover {
  opacity: 1;
}

.ui-widget-overlay {
  background: #000 !important;
  /*opacity: 0.7 !important;*/
}

/* Volume Indicator */
#volume-indicator {
  --volume-level: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 200;
}

#volume-indicator .circle-wrapper {
  width: 11em;
  height: 11em;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

#volume-indicator .circle-wrapper svg {
  width: 100%;
  height: 100%;
}

#volume-indicator .circle-wrapper svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 0.7em;
  stroke-linecap: round;
}

#volume-indicator .circle-wrapper svg circle.primary {
  stroke: #ccc;
}

#volume-indicator .circle-wrapper svg circle.highlight {
  stroke-dasharray: 100;
  stroke-dashoffset: calc(100 - var(--volume-level));
  stroke: #24a4f3;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #volume-indicator .circle-wrapper {
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}

#volume-indicator .level-text {
  position: absolute;
  color: #ccc;
  font-size: 1.4em;
}

#volume-indicator.muted .circle-wrapper svg circle.highlight {
  stroke: #aaa;
}

#volume-indicator.muted .level-text {
  font-size: 1.8em;
}

/* Disconnect Indicator */
#disconnected-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);
  font-size: 3em;
}

#disconnected-overlay.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Track bar */
#track-bar {
  --default-track-bar-height: 5em;
  --default-widget-primary-color: #ccc;
  --default-widget-highlight-color: #24a4f3;
  --track-bar-height: var(--default-track-bar-height);
  --widget-primary-color: var(--default-widget-primary-color);
  --widget-highlight-color: var(--default-widget-highlight-color);
  --track-bar-padding: 0.4em;
  position: absolute;
  width: 100%;
  height: var(--track-bar-height);
  bottom: 0;
  left: 0;
  background: #202020;
  border-top: 1px solid var(--widget-primary-color);
  z-index: 10;
  display: none;
  font-size: 1rem;
  /* TODO: Should change body font-size instead*/
}

#track-bar .seekbar-wrapper {
  --seekbar-height: 3px;
  --handle-diameter: 0.8em;
  --handle-radius: calc(var(--handle-diameter) / 2);
  --handle-radius-offset: calc(-1 * var(--handle-radius));
  padding: 0px var(--handle-radius);
  position: relative;
  top: calc(-1 * (var(--seekbar-height) / 2));
}

#track-bar .seekbar-wrapper .seekbar.ui-widget-content {
  background: var(--widget-primary-color);
}

#track-bar .seekbar-wrapper .seekbar.ui-slider-horizontal {
  height: var(--seekbar-height) !important;
  border: none;
}

#track-bar .seekbar-wrapper .seekbar.ui-corner-all {
  border-radius: 0px !important;
}

#track-bar .seekbar-wrapper .seekbar .ui-slider-range {
  height: var(--seekbar-height);
  background: var(--widget-highlight-color);
}

#track-bar .seekbar-wrapper .seekbar .ui-slider-handle,
#track-bar .seekbar-wrapper .seekbar .ui-slider-handle.ui-state-focus,
#track-bar .seekbar-wrapper .seekbar .ui-slider-handle.ui-state-active {
  width: var(--handle-diameter);
  height: var(--handle-diameter);
  top: calc(var(--handle-radius-offset) + 1px);
  border: none;
  background: var(--widget-highlight-color);
  border-radius: 50%;
  outline: none;
  margin-left: var(--handle-radius-offset);
}

#track-bar .seekbar-wrapper .seekbar.ui-slider:before {
  content: "";
  border: inherit;
  border-radius: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--handle-radius-offset);
  background: var(--widget-highlight-color);
  width: var(--handle-radius);
}

#track-bar .seekbar-wrapper .seekbar.ui-slider:after {
  content: "";
  border: inherit;
  border-radius: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  right: var(--handle-radius-offset);
  background: inherit;
  width: var(--handle-radius);
}

#track-bar .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: var(--track-bar-padding);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: -3px;
}

#track-bar .main .albumart img {
  --size: calc(var(--track-bar-height) - (var(--track-bar-padding) * 2));
  display: block;
  width: var(--size);
  height: var(--size);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.2em;
}

#track-bar .main .track-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#track-bar .main .track-info .title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  word-break: break-word;
  -webkit-box-orient: vertical;
  color: #fff;
}

#track-bar .main .track-info .artist-album {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  word-break: break-word;
  -webkit-box-orient: vertical;
  color: #ccc;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 0.9em;
}

#track-bar .main .track-info .media-info {
  line-height: 0.8em;
  margin-top: auto;
}

#track-bar .main .track-info .media-info .format-icon {
  height: 0.8em;
  margin-right: 5px;
}

#track-bar .main .track-info .media-info .quality {
  font-size: 0.7em;
  color: #ccc;
  font-weight: normal;
  font-family: sans-serif;
}

#track-bar .main .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

#track-bar .main .controls button {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0px 8px;
  color: #ccc;
  width: 2em;
  height: 2em;
  font-size: 0.8em;
}

#track-bar .main .controls button:focus {
  outline: none;
}

#track-bar .main .controls button.active {
  color: var(--widget-highlight-color);
}

#track-bar .main .controls button.previous:hover, #track-bar .main .controls button.next:hover, #track-bar .main .controls button.play:hover {
  color: var(--widget-highlight-color);
}

@media all and (max-width: 580px) {
  #track-bar .main .controls button.repeat,
  #track-bar .main .controls button.random {
    display: none;
  }
}
/*# sourceMappingURL=components.css.map */