body {
  /*font-size: 10px;*/
  font-family: "Roboto", sans-serif;
  background: #000;
  overflow: hidden;
}

#screen-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: filter 0.1s ease-in;

  &.blur {
    filter: blur(30px);
  }

  .screens > .screen:not(.active) {
    display: none;
  }
}
