@mixin line-clamp($lines) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  word-break: break-word;
  -webkit-box-orient: vertical;
}

@mixin queue-action-button($margin: 0px 8px) {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s;
  margin: $margin;
  color: #ccc;
  width: 2em;
  height: 2em;
  font-size: 1em;
  transition: 0.2s;

  &:last-of-type {
    margin-right: 0px;
  }
}

@mixin queue-item {
  display: flex;
  /*padding: 15px 20px;*/
  padding: 0.7em 1em;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  background: #282828;

  &:not(:last-of-type) {
    border-bottom: 1px solid #454545;
  }

  &:hover {
    background: #303030;

    .albumart img {
      filter: brightness(1.2);
    }
  }
  
  .albumart {
    position: relative;

    img {
      display: block;
      width: 2.5em;
      height: 2.5em;
      border-radius: 0.2em;
      transition: 0.2s;
    }
  }

  .track-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;

    .title {
      @include line-clamp(1);
      color: #ccc;
    }

    .artist-album {
      @include line-clamp(1);
      color: #7a848e;
      font-family: "Noto Sans Display", sans-serif;
    }
  }

  .actions {
    button {
      @include queue-action-button();

      &.remove:hover {
        color: #aa4a44;
      }
    }
  }

  &.playing {
    .albumart img {
      content: url(/assets/equalizer.gif) !important;
    }
  }

  @media (min-width: 1024px) {
    &:first-of-type {
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
    }

    &:last-of-type {
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
    }
  }
}

#queue {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #202020;

  .contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .header {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;

      button.action {
        @include queue-action-button(0px);
        font-size: 1em;
        z-index: 100;

        i {
          font-size: 1.5em;
        }

        &.clear:hover {
          color: #aa4a44;
        }

        &.close {
          color: #606060;
          margin-left: auto;
          margin-right: 1em;

          &:hover {
            color: #ccc;
          }

          @media (min-width: 1024px) {
            position: absolute;
            top: 1em;
            right: 1em;
            margin-left: 0;
            margin-right: 0;
          }
        }

        &.active {
          color: #24a4f3;
        }
      }

      .main-actions {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 1em;
        box-sizing: border-box;
        gap: 1em;

        @media (min-width: 1024px) {
          max-width: 80%;
          margin: 0 auto;
        }
      }
    }

    .items-wrapper {
      width: 100%;
      flex-grow: 1;

      .os-scrollbar {
        .os-scrollbar-handle {
          background: #45454580;
  
          &.active {
            background: #454545cc;
          }
        }

        &:hover .os-scrollbar-handle {
          background: #454545cc;
        }
      }

      .items {
        margin: 0 auto;

        @media (min-width: 1024px) {
          max-width: 80%;
          padding-bottom: 2em;
        }

        .item {
          @include queue-item;
        }
      }
    }
  }
}